body{
    font-family: arial, sans-serif;
}

header{
    width: 100%;
    padding: 10px 0px;  
    border-bottom: 1px solid #bbbbbb;
    margin-bottom: 40px;
    padding: 0;
}

.top-header{
    width: 100%;
    background: #dce9ff;
}

.contact{
    text-align: end;
}

.contact p{
    margin: 0;
    padding: 5px;
}

.in-header{
    width: 95%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 20%;
}

.logo img{
    width: 45%;
}

/* .meni{
    width: 80%;
} */

.meni ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}

.meni li{
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.meni a:hover::after{
    content: "Dodavanje novog zaposlenog";
    position: absolute;
    right: 3%;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap; /* Sprečava prelamanje teksta */
    /* font-size: 12px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
}

.meni li img{
    width: 50px;
}

.meni li a{
    text-decoration: none;
    color: #000;
}

.meni li:hover{
    background-color: #F7F7F7;
    transition: 0.2s ease;
}

.description h3{
    font-size: 20px;
    color: #415F8D;
}

.search{
    width: 95%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 30px;
}

.search label{
    font-size: 20px;
}

.search input{
    width: 60%;
    padding: 10px;
    border: 1px solid #ddd;
}

.search button{
    background-color: #9ec0fa;
    color: #fff;
    border: none;
    padding: 10px 40px;
}

.search button:hover{
    background-color: #000;
    color: #fff;
    transition: 0.2s ease;
}

.section-tabela{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    width: 95%;
    margin: 0px auto;
}

.filtriranje{
    width: 15%;
    margin: 0px auto;
    padding: 10px 10px;
    background: #a6c3f5;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.departmentStyle{
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #ffdace;
    color: #444;
    font-weight: bold;
    font-size: 90%;
}

.departmentStyle option{
    background-color: #fff;
    color: #444;
}

#app{
    width: 100%;
    /* background-color: #F7F7F7; */
}

.zebraHover{
    background-color: #F1E8E6 !important;
}

.employeesTable {
    max-height: 300px; /* Maksimalna visina tabele */
    max-width: 100%; /* Maksimalna širina tabele */
    overflow-x: scroll; /* Horizontalni skrol */
    overflow-y: scroll; /* Vertikalni skrol */
    border: 1px solid #ccc; /* Opcionalno: okvir oko tabele */
    margin: 0 auto; /* Centriraj tabelu, opcionalno */
}

.employeesTable table {
    width: 100%; /* Osigurava da tabela zauzme sav raspoloživi prostor */
    min-width: 600px; /* Minimalna širina tabele */
    border-collapse: collapse; /* Uklanja razmake između ćelija */
}

.employeesTable th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd; /* Dodaj okvir za ćelije */
}

.employeesTable th, .employeesTable td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd; /* Dodaj okvir za ćelije */
    white-space: nowrap; /* Sprečava prelamanje teksta */
    padding: 10px;
}

.employeesTable{
    width: 90%;
    margin: 0px auto;
}

.employeesTable button{
    background: none;
    border: none;
    color: #ff0000;
    cursor: pointer;
}

.employeesTable button:hover{
    color: #000;
}

.employeesTable thead tr{
    background-color: #a6c3f5;
    color: #444;
    font-weight: bold;
}

.zaposleni-title{
    text-align: center;
    color: #415F8D;
}

.filtriranje label{
    color: #fff;
    font-weight: bold;
}

.glavnaKolona{
    background-color: #9ec0fa ;
    color: #fff;
}

table tr:nth-child(odd) {
}
  
table tr:nth-child(even) {
    background-color: #dce9ff;
}

td{
    padding: 10px;
    text-align: center;
}

input{
    padding: 5px;
}

.novi-zaposleni-title h3{
    text-align: center;
    text-transform: uppercase;
}

.dodajZaposlenog{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 80%;
    margin: 0px auto;
}

.dodajZaposlenog button{
    width: 40%;
    margin: 0px auto;
    margin-top: 20px;
    border: none;
    padding: 10px;
    background-color: #9ec0fa;
    color: #fff;
    cursor: pointer;
}

.dodajZaposlenog input{
    padding: 10px;
    border: 1px solid #bbbbbb;
}

.dodajZaposlenog select{
    padding: 10px;
    border: 1px solid #bbbbbb;
}

.dodajZaposlenog button:hover{
    background-color: #000;
    color: #fff;
    transition: 0.2s ease-in;
}

.ukupnoZaposlenih{
    font-size: 20px;
    display: flex;
    justify-content: end;
    width: 95%;
    margin: 0px auto;
    padding: 10px 0px;
}

footer{
    background-color: #000;
    margin-top: 40px;
    display: none;
}

.in-footer{
    padding: 10px;
    color: #fff;
    text-align: center;
}

.in-footer p{
    font-size: 20px;
}

.brojZaposlenih-stampanje{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#printBtn{
    border: none;
    background: none;
}

#printBtn i{
    font-size: 20px;
    color: #415F8D;
    cursor: pointer;
}

.pregled-stampanja{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
}

.checkbox-print{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
/* pocetak stilizacije stampanja */
/* @media print {
    body {
        font-family: Arial, sans-serif;
    }

    #employeesTable {
        width: 100%;
        border-collapse: collapse;
    }

    #employeesTable th, #employeesTable td {
        padding: 10px;
        text-align: left;
        border: 1px solid #ddd;
    }

    #employeesTable th {
        background-color: #f2f2f2;
    }

    .top-header, .meni, .footer {
        display: none;
    }
} */


@page {
    size: A4 landscape; /* Štampanje u pejzažnom modu */
    margin: 10mm; /* Smanjenje margina da stane više sadržaja */
}

@media print {
    body {
        font-family: Arial, sans-serif;
        zoom: 80%; /* Smanjuje prikaz bez da previše smanji tekst */
    }

    #employeesTable {
        width: 100%;
        border-collapse: collapse;
        font-size: 10px; /* Manji font da više teksta stane */
    }

    #employeesTable th, #employeesTable td {
        padding: 5px; /* Smanjenje paddinga unutar ćelija */
        text-align: left;
        border: 1px solid #ddd;
        white-space: nowrap; /* Sprečava prelamanje teksta */
    }

    #employeesTable th {
        background-color: #f2f2f2;
    }

    .top-header, .meni, .footer {
        display: none;  /* Sakrivanje nepotrebnih delova pri štampanju */
    }
}

.logo-print h1{
    font-size: 25px;
}



/* kraj stilizacije stampanja */


@media(max-width: 992px){
    .filtriranje{
        width: 95%;
    }
    .section-tabela{
        flex-direction: column;
        overflow-y: scroll;
    }
    .description h3{
        display: none;
    }
    .logo{
        width: 60%;
    }
    .top-header{
        display: none;
    }
}
